.match {
  background: green;
}

.no-match {
  background: red;
}

.picWrapper {
  text-align: center;
  border-bottom: 1px solid silver;
  display: inline-block;
}

.picWrapper div input {
  width: 78.3%;
}

.picWrapper canvas {
  width: 80%;
}

/* control panel */

.controlPanelPiece {
  width: 49%;
}

#controlPalenInner > div.controlPanelPiece.buttons > button {
  height: 100%;
}

#controlPanel {
  background: white;
  text-align: center;
}

#controlPanel .buttons {
height: 150px;
float: left;
}

.picWrapper input {
  width: 100%;
  text-align: center;  
}

.controlPanelPiece {
  display: inline-block;
}

#controlPalenInner > div.controlPanelPiece.buttons > button {
  border-radius: 10px;
  width: 100px;
}